<h2>My Appointments</h2>
<label>Name: </label><%= @patient.name %><br>

<% @patient.appointments.each do |appointment| %>
    <br><label>Doctor Name: </label><%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %><br>
    <label>Appointment Date: </label><%= appointment.appointment_time %><br>
    <% end %>